/* primary color */
.pdsa-summary-block-primary {
    background-color: #428bca;
    color: #ffffff;
}

.pdsa-summary-block-primary .summary-footer {
    background-color: #4258d6;
}

.pdsa-summary-block-primary .summary-footer a{
    color: white;
}
/* secondary Color */
.pdsa-summary-block-success {
    background-color: #05a396;
    color: #ffffff;
}

.pdsa-summary-block-success .summary-footer {
    background-color: #097c8b;
}

.pdsa-summary-block-success .summary-footer a{
    color: white;
}

/* info Color */
.pdsa-summary-block-info {
    background-color: #079407;
    color: #ffffff;
}

.pdsa-summary-block-info .summary-footer {
    background-color: #044618;
}

.pdsa-summary-block-info .summary-footer a{
    color: white;
}

/* danger Color */
.pdsa-summary-block-danger {
    background-color: #c22d41;
    color: #ffffff;
}

.pdsa-summary-block-danger .summary-footer {
    background-color: #720d0d;
}

.pdsa-summary-block-danger .summary-footer a{
    color: white;
}

/*----------------------------Main Block------------------------- */
.pdsa-summary-block {
    position: relative;
    border-top-left-radius: 1.5em;
    width: 100%;
    margin: 0.5em;
    padding: 1em;
    min-height: 15em;
}

.pdsa-summary-block .summary-background i,
.pdsa-summary-block .summary-background div {
    /* margin-left: -0.4em; */
    margin-top: 0.1em;
    font-size: 8em;
    opacity: 0.3;
}

.pdsa-summary-block .summary-body {
    position: absolute;
    top: 1.3em;
    right: 0.8em;
}

.pdsa-summary-block .summary-body .summary-line-1 {
    text-align: right;
    font-size: xx-large;
}

.pdsa-summary-block .summary-body .summary-line-2 {
    text-align: right;
    font-size: medium;
}

.pdsa-summary-block .summary-footer {
    position: absolute;
    bottom: 0em;
    width: 100%;
    right: 0em;
    padding: 0.4em;
    font-weight: 300;
    text-transform: uppercase;
    font-size: small;
    opacity: 0.6;
}

.pdsa-summary-block .summary-footer a {
    text-decoration: none;
}

.pdsa-summary-block .summary-footer:hover {
    opacity: 1;
    cursor: pointer;
}

.fa-chevron-right {
    float: right;
    margin-top: 0.3em;
}