header, footer {
    background-color: coral;
    border: solid 2px black;
}

header nav {
    float: right;
    margin-right: 5px;
}

header nav li {
    display: inline;
    font-size: 12px;
}
a {
    color: green;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.bordered-image {
    border: solid 1px #444444;
}

footer {
    padding: 10px;
    border-radius: 3px;
}

#main {
    border: solid 1px #556633;
    border-radius: 5px;
    color: #202020;
    margin: 3px;
    padding: 5px;
}
 
#results {
    padding: 2px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.simple-form {
    padding: 2px;
    width: 300px;
    display: inline-block;
    /* position: absolute;
    top: 5px;
    left: 5px; */
}
.simple-form label {
    font-weight: bold;
}

.simple-form input[type=text], 
.simple-form select, 
.simple-form input[type=password], 
.simple-form textarea {
    width: 150px;
}

.simple-form input[type=submit]{
    background-color: coral;
    border: solid 2px black;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
}

html, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 989px;
    margin: 0 auto;
    background-color:white;
}

.result {
    margin: 5px;
    border: 1px solid #888888;
    padding: 5px;
}

.result .title {
    font-weight: bold;
}